node_modules

public/generated
public/css/chunk-vendors.*.css
public/css/index.*.css
public/js/chunk-vendors.*.js
public/js/index.*.js
public/index.html
public/error.html

vcap-local.json
public/ui
.terraform*
*tfstate*
*tfvars*
.DS_Store

