body {
  padding-top: 70px;
}

.navbar {
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
}

.service-small-icon {
  width: 24px;
  height: 24px;
}

.service-icon {
  width: 30px;
}

.service-displayname {
  white-space: nowrap;
}

.service-tags {
  white-space: nowrap;
}

.service-description {
  overflow: hidden;
  text-overflow: ellipsis;
}